<div style = "margin-top :100px;">
    <div class="start-stream">
        <div class="col-lg-12">
            <div class="heading-section">
                <h4><em>Question and Answer</em> When using my Store</h4>
            </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="item">
                    <h4>Shipping and Delivery</h4>
                    <p>1. What are FPTBook Store's shipping options?</p>
                    <p><strong>- Hello, Currently, my shop only has 1 option for customers can perform payment, which is the direct payment</strong></p>
                    <p>2. How long will the goods be delivered?</p>
                    <p><strong>- Hi, My shop will deliver goods to customers around 3-7 days</strong></p>
                    <p>3. what are ways to get free shipping on FPTBook Store?</p>
                    <p><strong>- Hello, Customers can get it during events and holidays</strong></p>
                    <p>4. Are the goods well wrapped during transportation?</p>
                    <p><strong>- we ensure that all goods of customers are careful wrapped during transportation</strong></p>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="item">
                    <h4>Order</h4>
                    <p>1. Can I change or cancel my Book order</p>
                    <p><strong>- Hello, you can change or cancel your order before it is shipped by our staff. You can check your order status to make a decision</strong></p>
                    <p>2. How do I track my order status</p>
                    <p><strong>- You must place order,and then you can track your order in profile, including your order status</strong></p>
                    <p>3. Does the store guarantee compensation for damaged books?</p>
                    <p><strong>- We will implement a policy to compensate customers if the book is damaged due to the fault of the staff</strong></p>
                    <p>4. Does FPTbook Store offer any discounts?</p>
                    <p><strong>- our store will discount books on holidays or events</strong></p>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="item">
                    <h4>Company Info</h4>
                    <p>1. Where is the headquarter of the FPTBook Store ?</p>
                    <p><strong>- Currently, the headquarter of FPTBook Store locates in No.71, Tran Binh Trong Street, An Phu ward, Ninh Kieu district, Can Tho city</strong></p>
                    <p>2. What is the FPTBook Store's email address?</p>
                    <p><strong>- The email address of my store is phinhamat100@gmail.com</strong></p>
                    <p>3. How can I contact FPTBook Store?</p>
                    <p><strong>- You can contact us through 0813333943 or 0983747121</strong></p>
                    <p>4. What are the upcoming Programs of the FPTBook Store?</p>
                    <p><strong>- Christmas and Tet holiday are upcoming programs of our Store</strong></p>
                  </div>
                </div>
                <div class="col-lg-12">
                </div>
              </div>
        </div>
    </div>
</div>